body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    padding: 30px;
    background-color: #a0d8c0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #8CBFB3;
}

main h1 {
    text-align: center;
    color: goldenrod;
    margin-bottom: 20px;
}

section {
    display: none;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#home {
    display: block;
}

section h1 {
    margin-bottom: 10px;
}

.biodata {
    margin-top: 10px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #8CBFB3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #60B69F;
}
